<!-- this html file is for the function of the function selected_songs() -->

<!DOCTYPE html>
<html lang="en">
<title>Your Playlist</title>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        /* Add your styling here */
    </style>
</head>
<body>
    <h1>Selected Songs</h1>

    {% if song_info_output %}
    <p> the top 30 songs with your keyword  customized by HarmonyHub</p>
        <p>Songs you selected:</p>
        {{ song_info_output|safe }}
    {% else %}
        <p>No songs selected.</p>
    {% endif %}
</body>
</html>
